@model List<Song>

<h1>My Sold Songs</h1>

<div class="p-3">
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Song</th>
                <th>Sold count</th>
                <th>Revenue</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/soldSongs.js"></script>
}
