<partial name="_Notification" />

<!--hero header-->
<section class="py-7 py-md-0 bg-hero bg-dark imageBackground" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">Quickly find or sell music</h1>
                <p class="lead text-primary py-3">SongTrade is a platform that helps freelancers and buyers to find 
                    or sell songs in minutes. Sign up for free.</p>
                <a class="btn btn-primary d-inline-flex flex-row align-items-center"
                    asp-controller="Song" asp-action="Index">
                    Find Songs
                    <em class="ml-2" data-feather="arrow-right"></em>
                </a>
                <button class="btn btn-primary d-inline-flex flex-row align-items-center">
                    Sell songs
                    <em class="ml-2" data-feather="arrow-right"></em>
                </button>
            </div>
        </div>
    </div>
</section>


