@model SongTrade.Models.UserDto
@Html.ValidationSummary()

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input required class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input class="form-control" asp-for="Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" required type="password" class="form-control">
        <span asp-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group mb-2">
        <label asp-for="TypesOfUser"></label>
        <select required asp-for="TypesOfUser">
            <option disabled selected>--Select Type--</option>
            <option value="author">Author</option>
            <option value="buyer">Buyer</option>
        </select> <br/>
        <span asp-validation-for="TypesOfUser" class="text-danger"></span>
    </div>

    <button id="btnSubmit" onclick="checkPassword(event)" type="submit" class="btn btn-outline-dark">Register</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">
        Cancel
    </a>
</form>

@*validation on client side*@
@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script type="text/javascript">
        function checkPassword(e) {
            var password = document.getElementById('Password').value
            var confirm = document.getElementById('ConfirmPassword').value
            if (password != confirm)
            {
                alert('Passwords do not match')
                e.preventDefault()
            }
        }
    </script>
}